.emcali-hallazgos-contraloria {body { background-color:white;
	position: relative;
}

#logo-container {
	position: relative;
	width: 25%;
	height: 100%;
	left: 15px;
	top: 10px;
	overflow: visible;
}

h2 {
	font: bold;
	text-align: center;
	text-transform: uppercase;
}

li {
	display: inline;
	float: right;
	border-right: 1px solid #bbb;
}

li a {
	color: #666;
}

.form-options {
	width: 400px;
	background: white;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.form-register {
	width: 400px;
	background: white;
	padding: 0px;
	margin-top: 50px;
	border-radius: 4px;
	font-family: 'arial';
	color: black;
	align-self: center;
}

.form-register h4 {
	font-size: 22px;
	margin-bottom: 20px;
}

.controls {
	width: 100%;
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
}

.form-register p {
	height: 40px;
	font-size: 18px;
	line-height: 40px;
}

.form-register a {
	color: white;
	text-decoration: none;
}

.form-register a:hover {
	color: white;
	text-decoration: underline;
}

.form-register .botons {
	width: 50%;
	background: #c80a12;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
}

li {
	display: inline;
	float: right;
	border-right: 1px solid #bbb;
}

li a {
	color: #666;
}

li a:hover {
	background-color: #c80a12;
}
}